@import "../../common/css/mixin";
@rem : 50rem;
.icon{
  display: inline-block;
  vertical-align: top;

  &.icon-1,
  &.icon-3{
    width: 24 / @rem;
    height: 24 / @rem;
  }
  &.icon-2,
  &.icon-4{
    width: 32 / @rem;
    height: 32 / @rem;
  }
  &.decrease-1{
    .bgImage('../../components/icon/decrease_2');
  }
  &.discount-1{
    .bgImage('../../components/icon/discount_1');
  }
  &.special-1{
    .bgImage('../../components/icon/special_1');
  }
  &.invoice-1{
    .bgImage('../../components/icon/invoice_1');
  }
  &.guarantee-1{
    .bgImage('../../components/icon/guarantee_1');
  }
  &.decrease-2{
    .bgImage('../../components/icon/decrease_2');
  }
  &.discount-2{
    .bgImage('../../components/icon/discount_2');
  }
  &.special-2{
    .bgImage('../../components/icon/special_2');
  }
  &.invoice-2{
    .bgImage('../../components/icon/invoice_2');
  }
  &.guarantee-2{
    .bgImage('../../components/icon/guarantee_2');
  }
  &.decrease-3{
    .bgImage('../../components/icon/decrease_3');
  }
  &.discount-3{
    .bgImage('../../components/icon/discount_3');
  }
  &.special-3{
    .bgImage('../../components/icon/special_3');
  }
  &.invoice-3{
    .bgImage('../../components/icon/invoice_3');
  }
  &.guarantee-3{
    .bgImage('../../components/icon/guarantee_3');
  }
  &.decrease-4{
    .bgImage('../../components/icon/decrease_4');
  }
  &.discount-4{
    .bgImage('../../components/icon/discount_4');
  }
  &.special-4{
    .bgImage('../../components/icon/special_4');
  }
  &.invoice-4{
    .bgImage('../../components/icon/invoice_4');
  }
  &.guarantee-4{
    .bgImage('../../components/icon/guarantee_4');
  }
}
