@import "../../common/css/mixin";

@rem: 50rem;
#header {
  background-color: rgba(7, 17, 27, .5);
  position: relative;
  overflow: hidden;
  .content-wrapper {
    display: flex;
    padding: 48 / @rem 24 / @rem 36 / @rem 48 / @rem;
    color: #fff;
    .headerImg {
      width: 128 / @rem;
      height: 128 / @rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 2 / @rem;
      }
    }
    .headerDesc {
      margin-left: 32 / @rem;
      flex: 1;
      .title {
        margin-top: 4 / @rem;
        height: 36 / @rem;
        .brand {
          display: inline-block;
          vertical-align: top;
          width: 60 / @rem;
          height: 36 / @rem;
          .bgImage('../../components/header/brand');
        }
        .name {
          margin-left: 12 / @rem;
          vertical-align: top;
          .fontSize(32 / @rem, 'bold', 36 / @rem);
        }
      }
    }
    .desc {
      margin-top: 16 / @rem;
      .fontSize(24 / @rem, 200, 24 / @rem);
    }
    .supports {
      margin-top: 20 / @rem;
      position: relative;
      font-size: 0;
      .text {
        vertical-align: top;
        margin-left: 8 / @rem;
        .fontSize(20 / @rem, 200, 24 / @rem);
      }
      .arrow {
        position: absolute;
        right: 0;
        top: -14 / @rem;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 999px;
        padding: 0 16 / @rem;

        .number {
          .fontSize(20 / @rem, 200, 48 / @rem);
        }
        .right {
          margin-left: 12 / @rem;
          .fontSize(12 / @rem, 'normal', 48 / @rem)
        }
      }
    }

  }
  .ad-wrapper {
    display: flex;
    line-height: 56 / @rem;
    background-color: rgba(7, 17, 27, .2);
    padding: 0 24 / @rem;
    color: #fff;
    .icon {
      width: 44 / @rem;
      height: 24 / @rem;
      margin-right: 8 / @rem;
      align-self: center;
      .bgImage('../../components/header/bulletin');
    }
    .text {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .fontSize(20 / @rem, 200, 56 / @rem);
      margin-top: 2 / @rem;
    }
    .arrow {
      margin-left: 8 / @rem;
      font-size: 20 / @rem;
      line-height: 56 / @rem;
      margin-top: 2 / @rem;
    }
  }
  .bgImg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(10px);
    img {
      width: 100%;
      height: 100%;
    }
  }

  .mask-fade-enter-active,
  .mask-fade-leave-active{
    transition: all .5s;
  }

  .mask-fade-enter,
  .mask-fade-leave-active{
    opacity: 0;
    transform: scale(.5);
  }

  .mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(7, 17, 27, .8);
    overflow: auto;
    backdrop-filter: blur(5px);
    .ctx-wrapper {
      min-height: 100%;
      .mask-ctx {
        padding: 128 / @rem 72 / @rem;
        text-align: center;
        color: #fff;

        .title {
          .fontSize(32 / @rem, 700, 32 / @rem);
        }
        .starWrap {
          margin-top: 32 / @rem;
        }

        .favour {
          margin-top: 56 / @rem;
        }

        .favourInfo {
          text-align: left;
          padding: 24 / @rem 24 / @rem 0;
          .infoItem {
            margin-top: 24 / @rem;
            .itemIcon {
              width: 32 / @rem;
              height: 32 / @rem;
              vertical-align: top;
            }
            .itemText {
              vertical-align: top;
              .fontSize(24 / @rem, 200, 32 / @rem);
            }
          }

        }

        .description {
          padding: 48 / @rem 24 / @rem 150 / @rem;
          text-align: left;
          span {
            .fontSize(24 / @rem, 200, 48 / @rem);
          }
        }
      }
    }
    .close-wrapper {
      color: #fff;
      font-size: 64 / @rem;
      text-align: center;
      height: 128 / @rem;
      margin-top: -128 / @rem;
    }
  }
}

